body {
  background: #114b5f;
  color: white;
}

* {
  box-sizing: border-box;
}

.movies {
  width: 100%;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}

.heading button {
  background-color: #1a936f;
  cursor: pointer;
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 20px;
  transition: 0.2s;
}

.heading button:hover {
  border-radius: 0;
}

.movie-list {
  display: flex;
  gap: 1rem;
  padding: 0 1.25rem;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  height: 350px;
  margin-top: 4px;
  margin-bottom: 4px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.movie-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.movie {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transition: transform 0.2s;
  width: 200px;
}

.movie img {
  object-fit: cover;
  width: 200px;
  height: 300px;
}

.movie:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.movie:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  width: 100%;
  transition: 0.2s ease-in-out;
  font-size: 18px;
  padding: 1rem;
  text-align: center;
  bottom: 0;
}

.favorite-text {
  margin-right: 5px;
}
